<form method="POST" action='{% url 'createprescriber' %}'>
    {% csrf_token %}
    <label for='npi'>Please enter the NPI:</label>
    <br>
    <input type='number' default='1' name='npi' id='npi' min="1" max="9999999999">
    <br>
    <label for='fname'>First Name:</label>
    <br>
    <input type='text' name='fname' id='fname'>
    <br>
    <label for='lname'>Last Name:</label>
    <br>
    <input type='text' name='lname' id='lname'>
    <br>
    <label for='gender'>Gender:</label>
    <br>
    <input type='text' name='gender' id='gender'>
    <br>
    <label for='specialty'>Specialty:</label>
    <br>
    <input type='text' name='specialty' id='specialty'>
    <br>
    <label for='bPrescriber'>Do they prescribe opioids?:</label>
    <br>
    <select name="bPrescriber" id="bPrescriber">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    <br>
    <label for='total'>Total Prescriptions:</label>
    <br>
    <input type='number' default='1' name='total' id='total' min="1" max="99999">
    <br>
    <label for="location">Location:</label>
    <select name="location" id="location">
      <option value="">None</option>
        {% for loc in Locations %}
            <option value="{{ loc.state }}">{{ loc.state }}</option>
            {% endfor %}
    </select>
    <br>
    <label for="drug">Drug:</label>
    <select name="drug" id="drug">
        {% for d in Drugs %}
            <option value="{{ d.drugid }}">{{ d.drugname }}</option>
            {% endfor %}
    </select><br>
    <label for='qty'>Quantity Prescribed:</label>
    <br>
    <input type='number' default='1' name='qty' id='qty' min="1" max="99999">
    <br>
    <label for="cred">Credentials:</label>
    <select name="cred" id="cred">
        {% for c in Creds %}
            <option value="{{ c.id }}">{{ c.credential }}</option>
            {% endfor %}
    </select><br>
    <button type='submit'>Add</button>
</form>