<table style="margin-left:auto;margin-right:auto;width: 50%;">
    <tr>
        <td style="font-weight:bold;">Drug Name</td>
        <td style="font-weight:bold;">Opioid?</td>
    </tr>
    {% for drug in drugs %}
    <tr>
        <td>{{drug.drugname}}</td>
        <td>{{drug.isopioid}}</td>
    </tr>
    {% endfor %}
    <form action="{% url 'drugsearch' %}" method="GET">{% csrf_token %}<button type="submit">Search Again</button>
    {% comment %} <form action="{% url 'prescribersearch' %}" method="GET">{% csrf_token %}<button type="submit">Search for a drug prescriber</button> {% endcomment %}
</table>