{% extends 'base.html' %}
{% load static %}
{% load templatetags %}

{% block head %}
<!-- stylesheet -->
<link rel="stylesheet" href="{% static 'otherPages/css/displayStyles.css' %}">
{% endblock %} 

{% block content %}
<div class="background-stuff">
    <h1>Drug Results</h1>
    <div class="table-container">
      <div class="rTable">
        <div class="rTableRow">
          <div class="rTableHead">Drug Name</div>
          <div class="rTableHead">Opioid</div>
          <div class="rTableHead">Top Ten Prescribers</div>
        </div>
  
        <!--Loop through results-->
        {% for drug in drugs %}
  
        <div class="rTableRow">
          
  
          <!--Drug Name Field-->
          <div class="rTableCell">
            {{drug.drugname}}
          </div>
  
          <!--isOpioid field-->
          <div class="rTableCell">
            {{drug.isopioid}}
          </div>
  
          <!--Row for Top 10 button-->
          <div class="rTableCell">
            <form class="button" action="{% url 'displaytoppre' drugid=drug.drugid %}" method="GET">{% csrf_token %}
                <button type="submit">Top Ten Prescribers</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% comment %} Button Container {% endcomment %}
<div class="button-container"  style="padding-bottom: 20px;">
    <form action="{% url 'drugsearch' %}" method="GET">{% csrf_token %}<button type="submit" class="styled" style="width: 223px;">Search Again</button></form>
    <form action="{% url 'prescribersearch' %}" method="GET">{% csrf_token %}<button type="submit" class="styled" style="width: 223px;">Search Prescriber</button></form>
    </div>
    {% endblock %}