<table style="margin-left:auto;margin-right:auto;width: 50%;">
    <tr>
        <td style="font-weight:bold;">Prescriber</td>
    </tr>
    {% for p in pres %}
    <tr>
        <td>{{p.pd_prescriber}}</td>
    </tr>
    {% endfor %}
    <form action="{% url 'drugsearch' %}" method="GET">{% csrf_token %}<button type="submit">Search Again</button></form>
    <form action="{% url 'prescribersearch' %}" method="GET">{% csrf_token %}<button type="submit">Search for a drug prescriber</button></button>
</table>