{% extends 'base.html' %}
{% load static %}

<!-- Block for Hero Image-->
{% block hero %}{% static 'otherPages/images/background/3.jpg' %}{% endblock %}

<!--Block for Body content-->
{% block content %}

<!-- Section -->
<section class="section style-three pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-0">
        <div class="contact-area style-two pl-0 pr-0 pr-lg-4">
          <div class="section-title">
            <h3>Search By <span>Drug</span></h3>
          </div>

          <!--Start Form-->
          <form name="contact_form" class="default-form contact-form" action="{% url 'drugfind' %}" method="GET">
            {% csrf_token %}
            <div class="row">

              <!--Start First Column-->
              <div class="col-md-6">

                <!--Drug Name-->
                <div class="form-group">
                  <input class="form-control" type="text" name="drugName" id="drugName" placeholder="Drug Name">
                </div>
              </div>

              <!--Start Column 2-->
              <div class="col-md-6">

                <!--Is the drug an opioid? -->
                <div class="form-group">
                  <select class="form-control" name="bOpioid" id="bOpioid">
                    <option value="">Is the drug an opioid?</option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                  </select>
                </div>

              </div>
              <div class="col-md-12">
                
                <div class="form-group text-center">
                  <button type="submit" class="btn-style-one">search</button>
                </div>
              </div>
            </div>
          </form>
          <!--End form -->

        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0 order-0 order-lg-1">
        <div class="appointment-image-holder ml-0 ml-lg-4">
          <figure>
            <img loading="lazy" class="w-100" src="{% static 'otherPages/images/background/appointment.jpg' %}" alt="Appointment">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->


{% comment %} <form action="{% url 'drugfind' %}" method="GET">
    <table style="width: 80%;">
        <tr>
            <td>
                <label for="drugName">Drug Name:</label>
                <input type="text" name="drugName" id="drugName">
            </td>
            <td>
                <label for="bOpioid">Is the drug an opioid?</label>
                <select name="bOpioid" id="bOpioid">
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </td>
            <td>
                <button type="submit">Submit</button>
            </td>
        <tr>
</form> {% endcomment %}


{% endblock %}
<!--End Block Body content-->