{% extends 'base.html' %}
{% load static %}
<!--Block Head Content-->
{% block head %}
<title>INTEX | Education</title>
{% endblock %} 

<!-- Block for Hero Image-->
{% block hero %}{% static 'otherPages/images/background/3.jpg' %}{% endblock %}
{% block pageTitle %}<h1>Education</h1>{% endblock %}

<!-- Block Body Content-->
{% block content %}

<!--Start Description section-->
<section class="service-overview section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="content-block">
            <h2>What are some <br>common opiodids?</h2>
            <p>
              Opioids are a class of drugs that include the illegal drug
              heroin, synthetic opioids such as fentanyl, and pain relievers
              available legally by prescription.
            </p>
            {% comment %} <ul>
              <li><i class="fas fa-caret-right"></i>vitae laboriosam explicabo eligendi sapiente</li>
              <li><i class="fas fa-caret-right"></i>consectetur adipisicing elit. Beatae</li>
              <li><i class="fas fa-caret-right"></i>dolorum esse tempora id architecto</li>
              <li><i class="fas fa-caret-right"></i>optio repellendus quasi nisi vitae</li>
            </ul> {% endcomment %}
            <a href="appointment.html" class="btn btn-style-one">Appoint</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordion-section">
            <div class="accordion-holder">
              <div class="accordion" id="accordionGroup" role="tablist" aria-multiselectable="true">
                <div class="card">
                  <div class="card-header" role="tab" id="headingOne">
                    <h4 class="card-title">
                      <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Prescription Opioids
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionGroup">
                    <div class="card-body">
                      Prescription opioids can be prescribed by doctors to treate
                      moderate to severe pain but can also have serius risks and side
                      effects. Some common types include:

                      <ul class="content-list">
                        <li>
                          <i class="fas fa-caret-right"></i> Oxycodone (OxyContin)</li>
                        <li>
                          <i class="fas fa-caret-right"></i> Hydrocodone (Vicodin)</li>
                        <li>
                          <i class="fas fa-caret-right"></i> Morphine</li>
                        <li>
                          <i class="fas fa-caret-right"></i> Methadone</li>
                      </ul>
                    </div>
                    
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingTwo">
                    <h4 class="card-title">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Fentanyl
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionGroup">
                    <div class="card-body">
                      Fentanyl is a synthetic opioid pain reliever. It is many times
                      more powerful than other opiods and is approved for treating severe
                      pain, typically advanced cance pain. Illegally made and distributed
                      fentanyl has been on the rise in several states.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" role="tab" id="headingThree">
                    <h4 class="card-title">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Heroin
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionGroup">
                    <div class="card-body">
                      Heroin is an illegal opiod. Nearly 40 people die every day
                      from an overdose death involving heroin in the United States.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section pt-0">
    <div class="container service-box">
      <div class="row">
        <div class="col-lg-6">
          <img loading="lazy" class="img-fluid" src="{% static 'otherPages/images/services/service-one.jpg' %%}" alt="service-image">
        </div>
        <div class="col-lg-6">
          <div class="contents">
            <div class="section-title">
              <h3>What is an opioid overdose?</h3>
            </div>
            <div class="text">
              <p>
                Opioids can cause bad reactions that 
                make your breathing slow or even stop. 
                This can happen if your body can't handle 
                the opioids that you take that day.
              </p>
              <h4>How to avoid an accidental overdose?</h4>
              <p>
                Try not to mix your opioids with alcohol, 
                benzodiazepines (Xanax, Ativan,
                Klonopin, Valium), or medicines that make you sleepy.
              </p>
              <p>
                Be extra careful if you miss or change 
                doeses, feel ill, or start new medications.
              </p>  
  
            </div>
            <a href="https://prescribetoprevent.org/" class="btn btn-style-one">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--End Description section-->

<!--Start Video Gallery Section-->
<section class="video-gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h3>Collected Media
              <span>of Our Hospital</span>
            </h3>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overv-
              <br>iews. Iterative approaches to corporate strategy...</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="video-gallery-item">
            <div class="image-holder">
              <img loading="lazy" src="{% static 'otherPages/images/gallery/video-thumb-01.jpg' %}" class="img-fluid" alt="video-gallery">
              <a data-fancybox href="https://www.youtube.com/watch?v=oHlaz0kQlRE"><i class="fa fa-play"></i></a>
            </div>
            <h3>The New York Times - The Facts on America's Opioid Epidemic</h3>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="video-gallery-item">
            <div class="image-holder">
              <img loading="lazy" src="{% static 'otherPages/images/gallery/video-thumb-02.jpg' %}" class="img-fluid" alt="video-gallery">
              <a data-fancybox href="https://www.youtube.com/watch?v=V0CdS128-q4">
                <i class="fa fa-play"></i>
              </a>
            </div>
            <h3>TED-Ed - What causes opioid addiction></h3>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="video-gallery-item">
            <div class="image-holder">
              <img loading="lazy" src="{% static 'otherPages/images/gallery/video-thumb-03.jpg' %}" class="img-fluid" alt="video-gallery">
              <a data-fancybox href="https://www.youtube.com/watch?v=TSzHCCsjsHY">
                <i class="fa fa-play"></i>
              </a>
            </div>
            <h3>Virginia Department of Health - Recognizing and Responding to an Opioid Overdose Emergency</h3>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="video-gallery-item">
            <div class="image-holder">
              <img loading="lazy" src="{% static 'otherPages/images/gallery/video-thumb-04.jpg' %}" class="img-fluid" alt="video-gallery">
              <a data-fancybox href="https://www.youtube.com/watch?v=h-h5Mhlt6O0">
                <i class="fa fa-play"></i>
              </a>
            </div>
            <h3>October 2017 san francisco Conference</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Video Gallery Section-->
{% endblock %}
<!--End Body Block-->