
{% extends 'base.html' %}
{% load static %}
{% load templatetags %}
{% block pageTitle %}{% endblock %}
{% block head %}
<!-- stylesheet -->
<link rel="stylesheet" href="{% static 'otherPages/css/displayStyles.css' %}">
{% endblock %} 
{% block content %}
<div style="min-height:80vh;">
<h3 style="text-align:center">Search Not Found</h3>

<div class ="button-container">
<form margin: center action="{% url 'prescribersearch' %}" method="GET">{% csrf_token %}<button type="submit" class="styled">Search for a drug prescriber</button></form>
<form action="{% url 'drugsearch' %}" method="GET">{% csrf_token %}<button type="submit" class="styled">Search for a drug</button></form>
</div>
</div>
{% endblock %}