    {% extends 'base.html' %}
    {% load static %}
    {% load templatetags %}
    {% comment %} <h2> {{ test }} {% endcomment %}
    
    {% block head %}
    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'otherPages/css/displayStyles.css' %}">
    {% endblock %} 
    
    {% block content %}
    
   <div style="height:80vh;">
      <div class="background-stuff">
        <h1>Predicted Drug Quantity</h1>
        <div class="table-container">
          <div class="rTable">
            <div class="rTableRow">
            </div>
      
              <!--Drug Name Field-->
              <div class="rTableCell">
                <h3>{{test}}</h3>
              </div>

          </div>
        </div>
      </div>
    </div>
    {% comment %} Button Container {% endcomment %}
    <div class"button-container">

    </div>

          {% endblock %}
    

