{% extends 'base.html' %}
{% load static %}
{% load templatetags %}
{% block head %}
<!-- stylesheet -->
<link rel="stylesheet" href="{% static 'otherPages/css/displayStyles.css' %}">
{% endblock %} 
{% block content %}

<div class="background-stuff" style="min-height:80vh;">
    <h1>Prescriber Details</h1>
    <div class="table-container">
      <div class="rTable">
        <div class="rTableRow">
          <div class="rTableHead">NPI</div>
          <div class="rTableHead">Name</div>
          <div class="rTableHead">Gender</div>
          <div class="rTableHead">State</div>
          <div class="rTableHead">Prescribes opioids?</div>
          <div class="rTableHead">Total Drugs Prescribed</div>
          <div class="rTableHead">Credentials</div>
        </div>
  
        <!--Loop through results-->
        {% for pre in prescribers %}
  
        <div class="rTableRow">
  
            <!--NPI Field-->
            <div class="rTableCell">
                {{pre.npi}}
            </div>
    
            <!--Full name field-->
            <div class="rTableCell">
                {{pre.fname}} {{pre.lname}}
            </div>
    
            <!--Gender Field-->
            <div class="rTableCell">
                {{pre.gender}}
            </div>
    
            <!--State Field-->
            <div class="rTableCell">
                {{pre.state.state}}
            </div>
    
            <!--Pre isOpioid Field-->
            <div class="rTableCell">
                {{pre.isopioidprescriber}}
            </div>

            <!--Pre total Field-->
            <div class="rTableCell">
                {{pre.totalprescriptions}}
            </div>

            {% for cred in credentials.all %}
            <div class="rTableCell">{{ cred.credid }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
    {% comment %} Button Container {% endcomment %}
  

<div class="background-stuff" style="min-height:80vh;">
    <h1>Prescriber Drug Details</h1>
    <div class="table-container">
        <div class="rTable">
            <div class="rTableRow">
            <div class="rTableHead">Drug Name</div>
            <div class="rTableHead">Amount Prescribed</div>
            <div class="rTableHead">Display Average</div>
        </div>    

        {% for d in triple.all %}
        <div class="rTableRow">
            <div class="rTableCell">
                {{d.drug}}
            </div>

            <div class="rTableCell">
                {{d.qty}}
            </div>

            <div class="rTableCell">
                <form action="{% url 'displayavg' drugid=d.drug %}" method='GET'>{% csrf_token %}
                    <button type='submit' class="button">Display Average</button>
                </form>
            </div> 
        </div> 
        {% endfor %}
    </div>
</div>


<div class="button-container" style="padding-bottom: 20px;">
<form action="{% url 'prescribersearch' %}" method="GET">{% csrf_token %}<button type="submit" class="styled">Search Again</button></form>
<form action="{% url 'drugsearch' %}" method="GET">{% csrf_token %}<button type="submit" class="styled">Search on drug</button></form>
</div>
</div>

{% endblock %}






{% comment %} <table style="margin-left:auto;margin-right:auto;width: 70%;">
    <tr>
        <td style="font-weight:bold;">NPI</td>
        <td style="font-weight:bold;">Name</td>
        <td style="font-weight:bold;">Gender</td>
        <td style="font-weight:bold;">State</td>
        <td style="font-weight:bold;">Specialty</td>
        <td style="font-weight:bold;">Do they prescribe opioids?</td>
        <td style="font-weight:bold;">Number of drugs prescribed</td>
        <td style="font-weight:bold;">Credentials</td>
    </tr>
    {% for pre in prescribers %}
    <tr>
        <td>{{pre.npi}}</td>
        <td>{{pre.fname}} {{pre.lname}}</td>
        <td>{{pre.gender}}</td>
        <td>{{pre.state.state}}</td>
        <td>{{pre.specialty}}</td>
        <td>{{pre.isopioidprescriber}}</td>
        <td>{{pre.totalprescriptions}}</td>
        {% for cred in credentials.all %}
        <td>{{ cred.credid }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table> 
<table style="margin-left:auto;margin-right:auto;width: 70%;">
    <tr>
        <td style="font-weight:bold;">Drug Name</td>
        <td style="font-weight:bold;">Amount Prescribed</td>
        <td></td>
    </tr>
    {% for d in triple.all %}
    <tr>
        <td>{{ d.drug }}</td>
        <td>{{ d.qty }}</td>
        <td><form action="{% url 'displayavg' drugid=d.drug %}" method='GET'>{% csrf_token %}<button type='submit'>Display Average</button></form></td>
    </tr>
    {% endfor %}
</table> 
 <form action="{% url 'prescribersearch' %}" method="GET">{% csrf_token %}<button type="submit">Search Again</button></form>
 <form action="{% url 'drugsearch' %}" method="GET">{% csrf_token %}<button type="submit">Search for a drug</button></form>
{% endblock %} {% endcomment %}