{% load static %}
{% load templatetags %}
{% block content %}
{% if pre.npi != None %}
<table style="margin-left:auto;margin-right:auto;width: 70%;">
    <tr>
        <td></td>
        <td style="font-weight:bold;">NPI</td>
        <td style="font-weight:bold;">Name</td>
        <td style="font-weight:bold;">Gender</td>
        <td style="font-weight:bold;">State</td>
        <td style="font-weight:bold;">Specialty</td>
        <td style="font-weight:bold;">Do they prescribe opioids?</td>
        <td style="font-weight:bold;">Number of drugs prescribed</td>
        <td style="font-weight:bold;">Credentials</td>
        <td style="font-weight:bold;">Drugs</td>
        <td></td>
    </tr>
    {% for pre in prescribers %}
    <tr><td><form action='{% url 'edit' npi=pre.npi %}' method='GET'>{% csrf_token %}<button type='submit'>Edit</button></form></td>
        <td>{{pre.npi}}</td>
        <td>{{pre.fname}} {{pre.lname}}</td>
        <td>{{pre.gender}}</td>
        <td>{{pre.state.state}}</td>
        <td>{{pre.specialty}}</td>
        <td>{{pre.isopioidprescriber}}</td>
        <td>{{pre.totalprescriptions}}</td>
        {% for cred in credentials.all %}
        <td>{{ cred.credid }}</td>
        {% endfor %}
        {% for d in triple.all %}
        <td>{{ d.drug }}</td>
        {% endfor %}
        {% comment %} <td>{% for cre in credentials.all %}<p>{{cre.credid}}</p>{% endfor %}</td>
        <td>{% for t in triple.all %}<p>{{t.drug}}</p>{% endfor %}</td> {% endcomment %}
        {% if pre.npi != None %}<td><form action='{% url 'delete' npi=pre.npi %}' method='POST'>{% csrf_token %}<button type='submit'>Delete</button></form></td>{% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %} 
{% if pre.npi == None %}
<table style="margin-left:auto;margin-right:auto;width: 70%;">
    <tr>
        <td style="font-weight:bold;">Credentials</td>
    </tr>
    {% for pre in prescribers %}
    <tr>
        <td>{{pre.npi}}</td>
    </tr>
    {% endfor %}
    </tr>
</table>
{% endif %} 
{% comment %} <table style="margin-left:auto;margin-right:auto;width: 50%;">
    <tr>
        <td style="font-weight:bold;"></td>
    </tr>
    {% for cre in credentials.all %}
    <tr>
        <td>Credentials: {{cre.credid}}</td>
    </tr>
    {% endfor %}
</table>  {% endcomment %}
<form action="{% url 'prescribersearch' %}" method="GET">{% csrf_token %}<button type="submit">Search Again</button>
{% comment %} <form action="{% url 'drugsearch' %}" method="GET"><button type="submit">Search for a drug</button> {% endcomment %}
{% endblock %}