{% extends 'base.html' %}
{% load static %}
{% load templatetags %}

{% block head %}
<!-- stylesheet -->
<link rel="stylesheet" href="{% static 'otherPages/css/displayStyles.css' %}">
{% endblock %} 

{% block content %}

<div class="background-stuff">
  <h1>Prescriber Results</h1>
  <div class="table-container">
    <div class="rTable">
      <div class="rTableRow">
        <div class="rTableHead">Edit</div>
        <div class="rTableHead">See Details</div>
        <div class="rTableHead">NPI</div>
        <div class="rTableHead">Name</div>
        <div class="rTableHead">Gender</div>
        <div class="rTableHead">State</div>
        <div class="rTableHead">Prescribes opioids?</div>
        <div class="rTableHead">Delete</div>
      </div>

      <!--Loop through results-->
      {% for pre in prescribers %}

      <div class="rTableRow">
        
        <!--Row for edit button-->  
        <div class="rTableCell">
          <form action='{% url 'edit' npi=pre.npi %}' method='GET'>{% csrf_token %}
              <button class="button" type='submit'>Edit</button>
          </form>
        </div>

        <!--Row for See details button-->
        <div class="rTableCell">
          <form action="{% url 'predetails' npi=pre.npi %}" method="GET">{% csrf_token %}
              <button class="button" type="submit">See Details</button>
          </form>
        </div>

        <!--NPI Field-->
        <div class="rTableCell">
            {{pre.npi}}
        </div>

        <!--Full name field-->
        <div class="rTableCell">
          {{pre.fname}} {{pre.lname}}
        </div>

        <!--Gender Field-->
        <div class="rTableCell">
          {{pre.gender}}
        </div>

        <!--State Field-->
        <div class="rTableCell">
            {{pre.state.state}}
        </div>

        <!--isOpioid Field-->
        <div class="rTableCell">
          {{pre.isopioidprescriber}}
        </div>

        <!--Row for delete button-->
        <div class="rTableCell">
          <form action="{% url 'delete' npi=pre.npi %}" method='POST'>{% csrf_token %}
              <button class= "button" type='submit'>Delete</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% comment %} Button Container {% endcomment %}
<div class="button-container" style="padding-bottom: 20px;">
<form action="{% url 'prescribersearch' %}" method="GET">{% csrf_token %}<button type="submit" class="styled">Search Again</button></form>
<form action="{% url 'drugsearch' %}" method="GET">{% csrf_token %}<button type="submit" class="styled">Search on drug</button></form>
</div>
{% endblock %}