{% extends 'base.html' %}
{% load static %}

<!-- Block for Hero Image-->
{% block hero %}{% static 'otherPages/images/background/3.jpg' %}{% endblock %}

<!--Block for Body content-->
{% block content %}

<!-- Section -->
<section class="section style-three pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-0">
        <div class="contact-area style-two pl-0 pr-0 pr-lg-4">
          <div class="section-title">
            <h3>Search By <span>Prescriber</span></h3>
          </div>
          <form name="contact_form" class="default-form contact-form" action="{% url 'prescriberfind' %}" method="GET">
            {% csrf_token %}
            <div class="row">

              <!--Start First Column-->
              <div class="col-md-6">

                <!--FirstName-->
                <div class="form-group">
                  <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name" required="">
                </div>

                <!--Credentials-->
                <div class="form-group">
                  <select class="form-control" name="credentials" id="credentials">
                    {% for cred in Credentials %}
                        <option value="{{ cred.credential }}">{{ cred.credential }}</option>
                    {% endfor %}
                  <option value="">None</option>
                  </select>
                </div>

                <!--Gender-->
                <div class="form-group">
                  <select class="form-control" name="gender" id="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </div>
                <!--End Gender-->
              </div>

              <!--Start Column 2-->
              <div class="col-md-6">

                <!--Last Name -->
                <div class="form-group" for="lastName">
                  <input class="form-control" type="text"  name="lastName" id="lastName" placeholder="Last Name" required="">
                </div>

                <!--Location-->
                <div class="form-group">
                  <select class="form-control" name="location" id="location">
                    {% for loc in Locations %}
                      <option value="{{ loc.id }}">{{ loc.state }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!--Specialty-->
                <div class="form-group" for="lastName">
                  <input class="form-control" type="text"  name="specialty" id="specialty" placeholder="Specialty" required="">
                </div>

              </div>
              <div class="col-md-12">
                
                <div class="form-group text-center">
                  <button type="submit" class="btn-style-one">search</button>
                </div>
              </div>
            </div>
          </form>
          <!--End form -->

        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0 order-0 order-lg-1">
        <div class="appointment-image-holder ml-0 ml-lg-4">
          <figure>
            <img loading="lazy" class="w-100" src="{% static 'otherPages/images/background/appointment.jpg' %}" alt="Appointment">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->

{% comment %} 

<form action="{% url 'prescriberfind' %}" method="GET">
  {% csrf_token %}
  <table style="width: 80%;">
      <tr>
          <td>
              <label for="firstName">First Name:</label>
              <input type="text" name="firstName" id="firstName">
          </td>
          <td>
              <label for="lastName">Last Name:</label>
              <input type="text" name="lastName" id="lastName">
          </td>
          <td>
              <label for="gender">Gender</label>
              <select name="gender" id="gender">
                <option value="">None</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
          </td>
          <td>
              <label for="credentials">Credentials</label>
              <select name="credentials" id="credentials">
                <option value="">None</option>
                  {% for cred in Credentials %}
                          <option value="{{ cred.credential }}">{{ cred.credential }}</option>
                      {% endfor %}
              </select>
          </td>
          <td>
              <label for="location">Location</label>
              <select name="location" id="location">
                <option value="">None</option>
                  {% for loc in Locations %}
                      <option value="{{ loc.id }}">{{ loc.state }}</option>
                      {% endfor %}
              </select>
          </td>
          <td>
              <label for="specialty">Specialty:</label>
              <input type="text" name="specialty" id="specialty">
          </td>
          <td>
              <button type="submit">Submit</button>
          </td>
      <tr>
</form>
<table style="margin-left:auto;margin-right:auto;width: 50%;">
  <tr>
      <td style="font-weight:bold;"></td>
      <td style="font-weight:bold;"></td>
  </tr>
  <tr>
      <td></td>
  </tr>
</table>  {% endcomment %}

{% endblock %}
<!--End Block Body content-->
