{% extends 'base.html' %}
{% load static %}

<!-- Block for Hero Image-->
{% block hero %}{% static 'otherPages/images/background/3.jpg' %}{% endblock %}

<!--Block for Body content-->
{% block content %}

<!-- Section -->
<section class="section style-three pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-0">
        <div class="contact-area style-two pl-0 pr-0 pr-lg-4">
          <div class="section-title">
            <h3>Search By <span>Prescriber</span></h3>
          </div>
          <form name="contact_form" class="default-form contact-form" action="{% url 'prescriberfind' %}" method="GET">
            {% csrf_token %}
            <div class="row">

              <!--Start First Column-->
              <div class="col-md-6">

                <!--FirstName-->
                <div class="form-group">
                  <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name">
                </div>

                <!--Credentials-->
                <div class="form-group">
                  <select class="form-control" name="credentials" id="credentials">
                    <option value="">Credentials</option>
                    {% for cred in Credentials %}
                        <option value="{{ cred.credential }}">{{ cred.credential }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!--Gender-->
                <div class="form-group">
                  <select class="form-control" name="gender" id="gender">
                    <option value="">Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </div>
                <!--End Gender-->
              </div>

              <!--Start Column 2-->
              <div class="col-md-6">

                <!--Last Name -->
                <div class="form-group" for="lastName">
                  <input class="form-control" type="text"  name="lastName" id="lastName" placeholder="Last Name">
                </div>

                <!--Location-->
                <div class="form-group">
                  <select class="form-control" name="location" id="location">
                    <option value="">State</option>
                    {% for loc in Locations %}
                      <option value="{{ loc.id }}">{{ loc.state }}</option>
                    {% endfor %}
                  </select>
                </div>

                <!--Specialty-->
                <div class="form-group" for="specialty">
                  <input class="form-control" type="text"  name="specialty" id="specialty" placeholder="Specialty">
                </div>

              </div>
              <div class="col-md-12">
                
                <div class="form-group text-center">
                  <button type="submit" class="btn-style-one">search</button>
                </div>
              </div>
            </div>
          </form>
          <!--End form -->

          <!--Work on styling this **************-->
          
          <form action="{% url 'addprescriber' %}" method="GET">
            <table style='width:100%; text-align: center;'>
              <tr><td><button type='submit'>Add Prescriber</button></td></tr>
            </table>
          </form>

        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0 order-0 order-lg-1">
        <div class="appointment-image-holder ml-0 ml-lg-4">
          <figure>
            <img loading="lazy" class="w-100" src="{% static 'otherPages/images/background/appointment.jpg' %}" alt="Appointment">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->

{% endblock %}
<!--End Block Body content-->
